@model UpsertExpenseViewModel

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Add Expense</h2>
        <a asp-controller="Trips" asp-action="Details" asp-route-tripId="@Model.Expense.TripId" class="btn btn-secondary">← Back to Trip</a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <form asp-action="Create" method="post">
                <input type="hidden" asp-for="@Model.Expense.TripId" />

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Expense Name</label>
                        <input asp-for="@Model.Expense.Name" class="form-control" placeholder="Enter expense name" required>
                        <div class="text-danger" asp-validation-for="@Model.Expense.Name"></div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Amount</label>
                        <input asp-for="@Model.Expense.Amount" type="number" class="form-control" step="0.01" placeholder="Enter amount" required>
                        <div class="text-danger" asp-validation-for="@Model.Expense.Amount"></div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Expense Date</label>
                        <input asp-for="@Model.Expense.Date" type="date" class="form-control">
                        <div class="text-danger" asp-validation-for=" @Model.Expense.Date"></div>
                    </div>
                    
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">Participant</label>
                        <select id="userDropdown" asp-for="@Model.Expense.ParticipantId" class="form-control">
                            <option value="">-- Select a participant --</option>
                            @foreach (var participant in Model.Participants)
                            {
                                <option value="@participant.Value">@participant.Text</option>
                            }
                        </select>
                    </div>

                                        
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Description</label>
                        <textarea asp-for="@Model.Expense.Description" class="form-control" rows="3" placeholder="Enter details"></textarea>
                        <div class="text-danger" asp-validation-for="@Model.Expense.Description"></div>
                    </div>

                    <div class="col-md-12 text-center mt-4">
                        <button type="submit" class="btn btn-success px-4">Add Expense</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>